# Backend - Clerk Authentication
CLERK_SECRET_KEY=sk_test_wqWIZ7HrBFWrs3M4OTloiGtz76PcYzA9NcVAVEZhxl

# Database (configurado automáticamente en docker-compose)
# DATABASE_URL=postgresql://postgres:postgres@postgres:5432/timeexam

# Node Environment
NODE_ENV=development

# Frontend - Clerk Public Key (si lo necesitas)
CLERK_PUBLISHABLE_KEY=pk_test_bWlnaHR5LWdvYmJsZXItNTUuY2xlcmsuYWNjb3VudHMuZGV2JA
VITE_CLERK_PUBLISHABLE_KEY=pk_test_bWlnaHR5LWdvYmJsZXItNTUuY2xlcmsuYWNjb3VudHMuZGV2JA
